@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* Global Styles */
body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    /* line-height: 64px; */
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-pl{
    padding: 40px 80px;
}

.section-ml{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer; 
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer; 
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

/* Header Starts Here */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#signInBtn, #signOutBtn{
    padding: 7px 15px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
}

#signInBtn:hover, #signOutBtn:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 1, 0.3);
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* Home Page Starts Here */
#hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 34% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#feature{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25)
}

#product1 .pro .des .star{
    padding-bottom: 0px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #b2e2e0;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 25px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding:10px 0;
}

#banner h2 span{
    color: #ef3;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}

.sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("img/banner/b17.jpg");
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

.sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

.sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

.sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}

.banner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

.banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

.banner3 .banner-box h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

.banner3 .banner-box h3{
    color: #1b0202;
    font-weight: 800;
    font-size: 15px;
}

.banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}

.banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-position: 20px 30px ;
    background-repeat: no-repeat;
    background-color: #041e42;

}

#newsletter h4{
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 20px;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.5em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 6px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom:10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install .row img:hover{
    cursor: pointer;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


/* About Page Starts Here */
#page-header{
    background-image: url("img/about/banner.png");
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color:white;
}

#page-header.about-header{
    background-image: url("img/about/banner.png");
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#about-app h1{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact Page Starts Here */
#page-header.contact-header{
    background-image: url("img/banner/b25.jpg");
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Responsiveness for other Screens using Media Query Starts Here */

@media only screen and (max-width:768px){
    /* Home Page Mobile */
    .section-pl{
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0px 40px 60px rgba(0, 0, 9, 0.1);
        padding: 80px 0 0 10px;
        position: fixed;
        transition: 0.3s;
    }
    #navbar li {
        margin-bottom: 20px;
    }
    #navbar.active{
        right: 0px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #mobile i:hover{
        cursor: pointer;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        background-position: 65%;
        padding: 0 20px;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    .sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    .sm-banner .banner-box2 {
        margin-top: 20px;
    }
    .banner3 {
        padding: 0 20px;
    }
    .banner3 .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }

    /* About Page Mobile */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
        line-height: 20px;
    }
    #about-app .video{
        width: 100%;
    }

    /* Contact Page Mobile */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details {
        flex-wrap: wrap;
        margin: 10px;
        padding: 20px;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
}




